@font-face {
    font-family:'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto Regular'), local('Roboto-Regular'), url(Roboto.woff) format('woff');
}

@font-face {
    font-family:'ClearSans-Regular';
    font-weight: normal;
    src: local('ClearSans-Regular'), url(ClearSans-Regular.woff) format('woff');
}

body {
    /*font-family: Arial,sans-serif;*/
    font-family:'Roboto', Arial, Helvetica, sans-serif;
    font-size: 25px;
    overflow: hidden;
    background-image:url('images/blueprint-dark.png');
    background-color: rgb(249, 247, 243);
}
body.waiting * {
    cursor: wait;
}
a {
    text-decoration: none;
}
#loading_div {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    margin: auto;
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 60px;
    text-align: center;
    padding: 20px 0px 20px 0px;
    white-space: nowrap;
    overflow: hidden;
    font-size: 35px;
    color: rgb(60, 60, 43);
    box-shadow: 0px 1px 10px -5px grey;
}
#inner_loading_div {
    display: inline;
}
@media screen and (max-width: 1070px) {
    #loading_div {
        font-size: 25px !important;
    }
}
@media screen and (max-width: 790px) {
    #inner_loading_div {
        display: block !important;
        position: relative;
        top: -27px !important;
        left: 30px;
    }
    #loading_div span {
        position: relative;
        top: -27px !important;
    }
}
#theMap_container {
    position: absolute;
    overflow: hidden;
}
.theMap_primary, #theMap_secondary {
    -webkit-transform: translate3d(0px, 0px, 0px);
    position:absolute;
    display: block;
    margin-left: auto;
    margin-right: auto;
    opacity: 1;
    image-rendering: pixelated;
}
.imgDrag {
    box-shadow: -2px 2px 5px 0px rgb(120, 120, 120);
}
.checkboxTd, .overlayMapHandles, .labelTd, .markerParent .markerEdit, .markerParent .markerDeleteButton, #zoom_control, #theMap_primary, #theMap_secondary, .m :first-child, .markerApnText, #search_container, #options_container {
    -webkit-user-select: none;
    /* webkit ( safari, chrome ) browsers */
    -moz-user-select: none;
    /* mozilla browsers */
    -khtml-user-select: none;
    /* webkit ( konqueror ) browsers */
    -ms-user-select: none;
    /* IE10+ */
    user-select: none;
}
.simpleMarker {
    position: absolute;
    top:0px;
    left:0px;
}
.markerParent {
    height : auto;
    /*50px*/
    background-color : rgb(245, 245, 255);
    position : absolute;
    top:0px;
    left:0px;
    padding : 15px 35px 15px 15px;
    border-radius : 2px;
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.2);
    white-space: nowrap;
    /* CSS3 */
    white-space: -moz-nowrap;
    /* Firefox */
    white-space: -nowrap;
    /* Opera <7 */
    white-space: -o-nowrap;
    /* Opera 7 */
    /*transition: z-index 0.07s ease-in;*/
}
.markerParent:hover {
    background-color: white;
    z-index: 20000000000 !important;
}
.markerParent:hover .markerInnerArrow {
    border-top-color: white;
}
.markerImg {
    position: relative;
    height: auto;
    margin-right: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    cursor: pointer;
    /*width: 120px;
    height: auto;*/
}
.markerDeleteButton {
    /*float : right;*/
    position : absolute;
    top: 15px;
    right : 10px;
    /*padding-top : 5px;*/
    padding-left : 5px;
    color: rgba(50, 50, 50, 0.5);
    cursor : pointer;
    /*font-weight : bold;*/
    margin-top: -10px;
    line-height : 20px;
    overflow: hidden;
}
.markerDeleteButton:hover, .markerEdit:hover, .imgAnchor:hover {
    color: rgba(50, 50, 50, 1);
}
.markerArrow {
    width : 0px;
    height : 0px;
    border-left : 10px solid transparent;
    border-right : 10px solid transparent;
    border-top : 30px solid rgba(0, 0, 0, 0.35);
    border-bottom-color: rgba(0, 0, 0, 0.2);
    position : relative;
    top : 45px;
    left : 50%;
    margin-top: -40px;
    /*margin-left : -17.5px;*/
    /*transition: background-color 0.05s ease-in;*/
}
.markerInnerArrow {
    position: relative;
    top: -32px;
    left: -10px;
    width: 0px;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    border-top: 30px solid rgb(245, 245, 255);
    /*transition: background-color 0.05s ease-in;*/
}
.markerApnText {
    font-size: 17px;
    display: inline-block;
    width: 4em;
    text-align: right;
    color: grey;
}
.markerApnLink {
    padding-left: 5px;
    text-decoration: none;
    font-size: 17px;
    z-index: 200000000;
    color: rgb(17, 85, 204);
}
.markerApnLink:hover {
    text-decoration: underline;
}
/*.apn:hover{
    color: rgb( 0, 55, 170 );
}*/
 .imgAnchor {
    color: rgb(128, 128, 128);
    text-decoration: none;
    font-size: 15px;
    display: block;
    width: 1%;
    margin-bottom: 5px;
}
.markerEdit {
    color : rgb(128, 128, 128);
    text-decoration : none;
    font-size: 15px;
    display: inline;
    width: 1%;
    margin-bottom: 5px;
}
.markerPinButtonUnPinned {
    float: right;
    font-size: 15px;
    display: inline;
    color: grey;
    margin-top: 9px;
    margin-right: -23px;
    cursor: pointer;
    width: 10px;
    height: 10px;
    background: url('images/sprites.png') top left;
    background-position: -3px -70px;
}
.markerPinButtonUnPinned:hover {
    background-position: -20px -70px;
}
.markerPinButtonPinned {
    float: right;
    font-size: 15px;
    display: inline;
    color: grey;
    margin-top: 9px;
    margin-right: -23px;
    cursor: pointer;
    width: 10px;
    height: 10px;
    background: url('images/sprites.png') top left;
    background-position: -3px -84px;
}
.markerPinButtonPinned:hover {
    background-position: -20px -84px;
}
.imgAnchor {
    width: 71%;
    margin-bottom: 0px;
}
.messageContainer {
    width: 100%;
    margin-top: -0.1em;
}
.n {
    width:10em;
    overflow: auto;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
}
.n a {
    cursor: pointer;
    color: rgb(17, 85, 204);
}
.n a:hover {
    text-decoration: underline;
}
.m {
    font-size: 17px;
    font-weight: 500;
    color: black !important;
}
.m div {
    display: table-cell;
    padding-left: 5px;
    white-space: nowrap;
}
.m :first-child {
    padding-left: 0px !important;
    color: grey;
    text-align: right;
    cursor: default;
}
.m :nth-child(2) div {
    color: grey;
    font-style: italic;
    /* float: left; */
    display: inline-block;
}
.coordsDiv {
    font-size: 15px;
    font-variant: small-caps;
    color: grey;
}
.textArea {
    width : 100%;
    height: 160px;
    border: 1px solid rgb(128, 128, 128);
    overflow: hidden;
    font-family: inherit;
}
.imgSrcTextArea {
    width : 100%;
    height: 20px;
    border: 1px solid rgb(128, 128, 128);
    overflow: hidden;
    display: block;
    /*margin-top: 5px;
    margin-bottom: 5px;*/
    font-family: inherit;
}
.markerTextDiv {
    /*pre preserves carriage returns*/
    white-space: pre;
    /* CSS3 */
    white-space: -moz-pre;
    /* Firefox */
    white-space: -pre;
    /* Opera <7 */
    white-space: -o-pre;
    /* Opera 7 */
    word-wrap: break-word;
    /* IE */
    overflow-wrap: break-word;
}
#zoom_control {
    font-size: 15px;
    position:absolute;
    top: 10%;
    left: 5%;
    z-index: 900000000000000000000;
    width: 16px;
    height: auto;
    visibility: hidden;
    /*border: 1px solid  rgba( 17, 85, 204, 1 );   */
    /*border-radius: 3px;*/
    /*background-color: rgba( 245, 245, 255, 1 );*/
}
/*#zoom_control:hover {
    background-color: rgba( 245,245,255, 1 );
    border: 1px solid  rgba( 17, 85, 204, 1 );
}*/
 #zoom_slider_container {
    width: 4px;
    position: relative;
    left: 6px;
    height: 212px;
    /*border-left: 1px solid  rgba( 120, 120, 120, 0.5 );
    border-right: 1px solid  rgba( 120, 120, 120, 0.5 );
    background-color: rgb( 255, 255, 255 );*/
    background-image: url('images/sliderRail.png');
    /*border-radius: 2px;*/
}
#zoom_slider {
    cursor: pointer;
    position: relative;
    /*top: 200px;*/
    left: -8px;
    width: 18px;
    height: 10px;
    border: 1px solid rgba(120, 120, 120, 0.5);
    border-radius: 2px;
    background-color: rgb(255, 255, 255);
    color: rgb(17, 85, 204);
    box-shadow: 0px 2px 2px -1px black;
    /*transition: top 0.1s ease-in;*/
}
#zoom_slider:hover #zoom_slider_decoration, #panning_control_slider:hover #panning_control_slider_decoration {
    border-color: black;
}
#zoom_slider_decoration {
    border: 1px solid rgba(120, 120, 120, 1);
    position: relative;
    top: 4px;
    left: 5px;
    width: 6px;
}
#full_zoom_out_button {
    background: url('images/sprites.png') left top;
    display: block;
    cursor: pointer;
    width: 16px;
    height: 16px;
}
#full_zoom_out_button:hover {
    background-position: left -17px top 0px;
}
#container {
    height: 20px;
    width: 100px;
    position: absolute;
    left: 0px;
    top: 10%;
    display: none;
    z-index: 1000000000;
}
#zoom_in_button {
    background: url('images/sprites.png') top left;
    background-position: 0px -42px;
    display: block;
    cursor: pointer;
    height: 24px;
    width: 16px;
    /*opacity: 0.7;*/
}
#zoom_in_button:hover {
    background-position: -17px -42px;
}
#zoom_out_button {
    background: url('images/sprites.png') top left;
    background-position: 0px -17px;
    display: block;
    cursor: pointer;
    height: 24px;
    width: 16px;
    /*opacity: 0.7;*/
}
#zoom_out_button:hover {
    background-position: -17px -17px;
}
#messageContainer {
    border: 1px solid black;
    width : 200px;
    height: 200px;
    padding: 5px;
}
#textArea {
    width : 190px;
    height: 160px;
    border: 1px solid blue;
    overflow: hidden;
}
#imgArea {
    width : 190px;
    height: 20px;
    border: 1px solid blue;
    overflow: hidden;
}
.smoothTransition {
    /*-webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
    -webkit-transform: translate3d( 0, 0px, 0px );*/
    -webkit-transition: all 0.4s cubic-bezier(0, 0, 0.25, 1);
    /* Chrome 1-25, Safari 3.2+ */
    -moz-transition: all 0.4s cubic-bezier(0, 0, 0.25, 1);
    /* Firefox 4-15 */
    -ms-transition: all 0.4s cubic-bezier(0, 0, 0.25, 1);
    /* IE10 is actually unprefixed */
    -o-transition: all 0.4s cubic-bezier(0, 0, 0.25, 1);
    /* Opera 10.50–12.00 */
    transition: all 0.4s cubic-bezier(0, 0, 0.25, 1);
}
/*OPTIONS----------------------------------------------------------------------------------------------*/
 #options_container {
    font-size : 20px;
    position: absolute;
    top: 10%;
    right: 5%;
    width: 50px;
    height: auto;
    padding: 10px 0px 10px 10px;
    /*     border: 1px solid gray; */
    /*border-radius: 2px;*/
    background-color:transparent;
    z-index: 9999999999;
    /*transition: all .3s ease-out;*/
}
#options_div {
    /*visibility: hidden;*/
    display: none;
}
#options_body {
    width:91.5%;
}
#options_body table {
    /*border: 1px solid black;*/
    font-size : 25px;
    width: 100%;
    /*margin-top: 5px;*/
    /*border-collapse: collapse;*/
    /*color: rgb( 80, 80, 80 );*/
}
#options_body tr {
    /*todo: delete this*/
}
.checkboxTd {
    /*border: 1px solid red;*/
    width: 1%;
    text-align: center;
    /*transition: all .3s ease-in;*/
    cursor: pointer;
}
.labelTd {
    /*border: 1px solid black;*/
    width: 50%;
    cursor: pointer;
    /*padding-left: 5px;*/
    color: rgb(17, 85, 204);
}
.saleRecordLabel {
    text-align: center;
}
.expandOptionsContainer {
    width: 555px !important;
    /*height: 400px !important;*/
    background-color: white !important;
    border: 1px solid rgba(120, 120, 120, 0.5);
}
#options_svg_gear {
    position: absolute;
    right: 0px;
    top: 0px;
    cursor: pointer;
    width: 53px;
    height: 52px;
    /*margin: 5%;*/
    opacity: 1;
    /* transition: opacity 0.2s ease-out; */
    -webkit-transform: translate3d(0, 0px, 0px);
    /*-webkit-transform: rotate( 0deg );
    -moz-transform: rotate( 0deg );
    -o-transform: rotate( 0deg );
    transform: rotate( 0deg );*/
}
#options_svg_gear:hover path {
    stroke: black !important;
}
#snoco_trees {
    /*Applies all <use> elements also*/
    position: absolute;
    top: 16px;
    right: 9px;
    fill: rgba(0, 0, 0, 0);
    z-index: 20;
    width: 35px;
    height: 19px;
    cursor: pointer;
    -webkit-transform: translate3d(0, 0px, 0px);
    transition: all 0.2s ease-out;
}
#snoco_trees:hover + #options_svg_gear path {
    stroke: black !important;
}
.snocoTreesOptionsOpen {
    right: 7px !important;
    top: 19px !important;
    height: 10px !important;
}
/*#options_svg_gear:hover {
    opacity: 1;
}*/
 .svg_cities {
    opacity: 1;
    stroke: rgb(17, 85, 204);
    stroke-width: 0px;
    fill-opacity: 0.09;
    /*fill: rgb( 255, 255, 255 );*/
    transition: fill-opacity 70ms ease-in;
    cursor: pointer;
}
.transitionAll2sEaseOut {
    transition: all 0.2s ease-out !important;
}
.gearOpen {
    /*-webkit-transition: -webkit-transform 2.5s ease-out !important;*/
    /*transition: transform 2.5s ease-out !important;   */
    /*transition: opacity 0.3s ease-out, transform 0.3s ease-out !important;*/
    -webkit-transform: translate3d(0, 0px, 0px);
    transition: all 0.2s ease-out !important;
    /*-webkit-transform: rotate( -55deg );
    -moz-transform: rotate( -55deg );
    -o-transform: rotate( -55deg );
    transform: rotate( -55deg );*/
    width: 31px !important;
    height: 30px !important;
    opacity: 1 !important;
    right: 9px !important;
    top: 9px !important;
}
.gearAnimationOpen {
    -webkit-transform: rotate(0deg) !important;
    /* It rotates fine in chrome but when it stops its off by a few pixels which is very annoying */
    -moz-transform: rotate(-45deg) !important;
    -o-transform: rotate(-45deg) !important;
    transform: rotate(-45deg) !important;
}
.gearAnimationClose {
    /* -webkit-animation: spinClose 1.5s  ease-out ;
    -moz-animation: spinClose 4s ease-out;
    animation: spinClose 1.5s  ease-out; 
    -webkit-transform: rotate( 0deg );
    transform:rotate( 0deg );*/
}
#closeOptions {
    /*float: right;*/
    position: absolute;
    left: 94.2%;
    top: 2.5%;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
    z-index: 50;
    /*margin-right: -5.1%;
    margin-top: .9%;*/
    /*height: 15px;*/
    /*line-height: 10px;*/
    /*width: 15px;*/
    /*position: relative;
    top: -1%;
    left: -1%;*/
    width: 31px;
    height: 31px;
    color: rgb(128, 128, 128);
}
#options_title {
    padding-bottom: 10px;
    line-height: 20px;
    /*margin-top: -20px;*/
    border-bottom: 1px solid rgba(120, 120, 120, 0.3);
    /*color: rgb( 17, 85, 204 );*/
}

.spinGearDownSlowly {
    -webkit-transform: rotate(-360deg) !important;
    -moz-transform: rotate(-360deg) !important;
    -o-transform: rotate(-360deg) !important;
    transform: rotate(-360deg) !important;
    transition: all 2s cubic-bezier(0.05, 0.95, 0.33, 0.95);
}

.spinGear {
    -webkit-animation: spinGear 2s infinite linear;
    -moz-animation: spinGear 2s infinite linear;
    -o-animation: spinGear 2s infinite linear;
    animation: spinGear 2s infinite linear;
}

@-webkit-keyframes spinGear {
    100% {
        -webkit-transform: rotate(-360deg);
    }
}

@-moz-keyframes spinGear {
    100% {
        -moz-transform: rotate(-360deg);
    }
}

@-o-keyframes spinGear {
    100% {
        -o-transform: rotate(-360deg);
    }
}

@keyframes spinGear {
    100% {
        transform: rotate(-360deg);
    }
}

.checkBox {
    border: 1px solid rgba(120, 120, 120, 0);
    height: 15px;
    width: 22px;
    /*margin: auto;*/
    /*padding-right: 4px;*/
}
.checkMark {
    overflow: hidden;
    margin-top: 0px;
    /*margin-left: 0px;*/
    width: 10px;
    height: 15px;
    font-size: 31px;
    /*color: green;*/
    /*color: rgb( 97, 138, 60 );*/
    /*color: rgb( 0, 150, 0 );*/
    /*color: rgb( 9, 162, 97 );*/
    color: rgb(9, 170, 50);
    line-height: 35px;
    text-align: left;
    transition: width 0.03s ease-out, height 0.03s ease-out;
}
#update_button, #save_button, #search_div_button, #search_for_parcel_information {
    /*font-family: inherit;*/
    font-size : 25px;
    width: 100%;
    padding: 5px;
    margin: 4px 0px 0px 0px;
    /*background-color: rgba( 17, 85, 204, 0.7 );*/
    border-radius: 2px;
    background: -webkit-linear-gradient(top, rgba(17, 85, 204, 0.45), rgba(17, 85, 204, 0.5));
    background: -o-linear-gradient(top, rgba(17, 85, 204, 0.45), rgba(17, 85, 204, 0.5));
    background: -moz-linear-gradient(top, rgba(17, 85, 204, 0.45), rgba(17, 85, 204, 0.5));
    background: linear-gradient(rgba(17, 85, 204, 0.45), rgba(17, 85, 204, 0.5));
    /*-webkit-linear-gradient( top, rgba( 67, 135, 244, 0.9 ), rgba( 57, 125, 234, 0.9 ) )*/
    border: none;
    color: white;
    cursor: pointer;
    outline: none;
}
#search_div_button[disabled=disabled], #update_button[disabled=disabled], #update_button:disabled, #save_button[disabled=disabled], #save_button:disabled {
    color: rgb(17, 85, 204);
}
#update_button:hover, #save_button:hover, #search_div_button:hover, #search_for_parcel_information:hover, .findParcelNumberBorder:hover {
    /*border-color: lightgrey;*/
    transition: all 0.05s linear;
    background-color: rgba(17, 85, 204, 0.5);
    /*border: 1px solid rgb( 67, 97, 150 );*/
    -moz-box-shadow: 0px 2px 0 rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
    /*color: rgb( 0, 0, 0 );*/
}
#find_parcel_number_input, #make_url_text_input {
    border:none;
    width: 100%;
    font-size: 20px;
    margin-bottom: 3px;
}
#find_parcel_number_input:hover, #make_url_text_input:hover {
    box-shadow: 0px 0px 0px 1px lightgrey;
}
#find_parcel_number_input:focus, #make_url_text_input:focus {
    outline: none;
}
.findParcelNumberBorder {
    box-shadow: 0px 0px 1px 0px rgb(17, 85, 204);
    border-radius: 2px;
    background: linear-gradient(rgba(17, 85, 204, 0.45), rgba(17, 85, 204, 0.5));
    color: rgb(255, 255, 255) !important;
    padding: 0px 5px 0px 5px;
}
.findParcelNumberBorder:hover {
    transition: all 0.05s linear;
    background-color: rgba(17, 85, 204, 0.5);
}
#panning_control_slider_rail {
    position: relative;
    top: 2px;
    border: 1px solid rgba(120, 120, 120, 0.5);
    height: 2px;
    /*width: 223px;*/
    background-color: rgb(255, 255, 255);
    cursor: pointer;
}
#panning_control_slider {
    position: absolute;
    top: -10px;
    right: 50%;
    border: 1px solid rgba(120, 120, 120, 0.498039);
    /*box-shadow: 0px 2px 2px -1px rgb( 0, 0, 0 );*/
    height: 18px;
    width: 10px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
    background-color: rgb(255, 255, 255);
    cursor: pointer;
}
#panning_control_slider_decoration {
    position: relative;
    top: 6px;
    left: 4px;
    border: 1px solid rgb(120, 120, 120);
    height: 5px;
    width: 0px;
}
#mini_footer {
    position: absolute;
    bottom: 0px;
    line-height: 20px;
    right: 10px;
    background-color: rgba(255, 255, 255, 0.85);
    padding: 5px;
    font-size: 20px;
    color: rgb(60, 60, 43) !important;
    z-index: 100;
}
#mini_footer a {
    color:rgba(17, 85, 204, 1);
}
#mini_footer a:hover {
    text-decoration: underline;
}
@media screen and (max-width: 552px) {
    #mini_footer {
        font-size: 15px;
    }
    #mini_footer_span, #mini_footer_contents, #zoom_slider_container, #options_container {
        display: none;
    }
}
@media print {
    #options_container, #zoom_control, #small_county_svg {
        display: none;
    }
    #theMap_container {
        position: absolute;
        top: 0px;
        left: 0px;
        right: 0px;
        bottom: 0px;
        margin: auto;
    }
    .markerParent {
        box-shadow: none !important;
        border: 1px solid black !important;
    }
    .markerArrow {
        border-top: 30px solid rgba(0, 0, 0, 1);
    }
}
.overlayMapTabs {
    position: absolute;
    font-size: 15px;
    text-align: center;
    opacity: 0.9;
    color: rgb(60, 60, 43);
    background-color: rgba(255, 255, 255, 0.5);
    /* border-radius: 5px; */
    border: 2px dotted rgb(51, 136, 255);
    cursor: default;
}
.boxZoom {
    position: absolute;
    border: 2px dotted rgb(51, 136, 255);
    cursor: default;
    background-color: rgba(255, 255, 255, 0.5);
}
#small_county_svg {
    position: absolute;
    opacity: 0;
    z-index: 99999999;
    fill: rgb(255, 255, 255);
    fill-opacity: 1;
    cusor: default;
}
#small_county_svg g {
    /*#4a89dc; light blue*/
    /*rgb(93, 141, 195); Dark blue*/
    /*#70B870; green*/
    /*#129E00; green*/ 
    fill:#393; 
}
#small_county_svg rect {
    position: relative;
    fill: white;
    fill-opacity: 0.5;
    stroke: white;
    stroke-opacity: 0.5;
    stroke-width: 0px;
    cursor: pointer;
}
#scale_bar {
    cursor: move;
}
#scale_resize_handle {
    cursor: pointer;
}
#scale_pivot_handle {
    cursor: pointer;
}
.simpleMessageBox {
    padding: 20px;
    position: absolute;
    top: 20px;
    cursor: pointer;
    font-size: 15px;
    color: rgb(60, 60, 43);
    background-color: white;
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.2);
    /*border: 1px solid rgba( 0, 0, 0, 0.2 );*/
    border-radius: 2px;
    z-index: 9999999;
}
.floatingMarkerRight:before, .floatingMarkerRight:after, .floatingMarkerLeft:before, .floatingMarkerLeft:after {
    content:'';
    border: 1px solid rgba(0, 0, 0, 0);
    width: 0px;
    height: 0px;
    border-width: 10px;
    position: absolute;
    top: 20px;
}
.floatingMarkerRight:before {
    border-right-color: rgba(0, 0, 0, 0.34);
    left: -20px;
}
.floatingMarkerRight:after {
    border-right-color: rgb(255, 255, 255);
    left: -19px;
}
.floatingMarkerLeft:before {
    border-left-color: rgba(0, 0, 0, 0.34);
    right: -20px;
}
.floatingMarkerLeft:after {
    border-left-color: rgb(255, 255, 255);
    right: -19px;
}
.feetDiv {
    position: absolute;
    color: rgb(60, 60, 43);
    width: auto;
    padding: 10px;
    background-color: white;
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.2);
    border-radius: 2px;
    height: auto;
    font-size: 15px;
    line-height: 15px;
    white-space: nowrap;
    z-index: 20;
}
/* Search div */
 #search_container * {
    box-sizing: border-box;
}
#search_container {
    display: none;
    position: absolute;
    width: 500px;
    box-shadow: 0px 0px 0px 1px rgba(120, 120, 120, 0.5);
    padding: 15px 0px 15px 14px;
    background-color: white;
    color: rgb(60, 60, 43);
    z-index: 9999999;
    cursor: default;
}
#search_container label, #search_container input {
    display: block;
    width: 100%
}
#search_container input {
    padding: 5px;
    border: 1px solid #bbb;
    font-size: 20px;
}
#search_body {
    width: 91.5%;
}
#search_body div {
    display: inline-block;
    margin-bottom: 5px;
}
#search_name_div, #search_address_line1_div, #search_address_line2_div, #search_apn_number_div {
    width: 100%;
}
#search_name_div div {
    width: 49%;
}
#search_first_name_div {
    margin-right: 2%;
}
#search_unit_number_div {
    width: 16%;
    margin-right: 2%;
}
#search_street_number_div {
    width: 31%;
    margin-right: 2%;
}
#search_street_name_div {
    width: 49%;
}
#search_city_name_div {
    width: 45%;
    margin-right: 2%;
}
#search_wa_div {
    position: absolute;
    bottom: 0px;
}
#search_zip_code_div {
    width: 38%;
    margin-left: 15%;
}
#search_apn_div {
    width: 100%;
}
#search_results_container {
    width: 100%;
    margin: 0px !important;
}
#search_results_container div {
    margin-bottom: 0px !important;
}
#search_results_arrow_up_container {
    text-align: center;
    width: 100%;
}
#search_results_arrow_up {
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 0px solid rgba(0, 0, 0, 0.35);
    border-bottom: 12px solid rgba(50, 50, 50, 0.5);
    cursor: pointer !important;
}
#search_results_arrow_up:hover {
    border-bottom-color: rgba(50, 50, 50, 1);
}
#search_results_div {
    width: 100%;
    height: auto;
    overflow: auto;
    max-height: 131px;
    /*margin-top: 20px;*/
    display: block !important;
}
#search_footer_container {
    width:100%;
}
#search_counter_div {
    width: 20%;
    font-size: 17px;
}
#search_results_arrow_down_container {
    text-align: center;
    width: 60%;
    font-size: 17px;
}
#search_results_arrow_down {
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 12px solid rgba(50, 50, 50, 0.5);
    border-bottom-color: rgba(50, 50, 50, 0.5);
    cursor: pointer !important;
}
#search_results_arrow_down:hover {
    border-top-color: rgba(50, 50, 50, 1);
}
.searchResultsDivDiv {
    width: 100%;
    padding-left: 5px;
    padding-right: 5px;
    display: none;
    cursor: pointer !important;
    -webkit-user-select: text;
    /* webkit ( safari, chrome ) browsers */
    -moz-user-select: text;
    /* mozilla browsers */
    -khtml-user-select: text;
    /* webkit ( konqueror ) browsers */
    -ms-user-select: text;
    /* IE10+ */
    user-select: text;
}
/*.searchResultsDivDiv:hover{
    background-color: rgba( 200,200,200,0.17 );
}*/
 #search_close_div {
    position: absolute;
    right: 2%;
    top: 10px;
    width: 4%;
    text-align: center;
    line-height: 1;
    cursor: pointer;
    color: rgba(50, 50, 50, 0.5);
}
#search_close_div:hover {
    color: rgba(50, 50, 50, 1);
}
/*TODO:
    - change options top, left, width and what ever else from % to px.
    * adjust gear div position when options panel is open, maybe use a permanent position instead of a percent.
*/

.road_0 {
    stroke: rgb(245, 245, 245);
    fill: rgba(0, 0, 0, 0);
    stroke-linecap: round;
}

.road_1 {
    stroke: rgb(255, 165, 0);
    fill: rgba(0, 0, 0, 0);
    stroke-linecap: round;
}
.road_2 {
    stroke: rgb(255, 180, 100);
    fill: rgba(0, 0, 0, 0);
    stroke-linecap: round;
}
.road_3 {
    stroke: rgb(255, 255, 255);
    fill: rgba(0, 0, 0, 0);
    stroke-linecap: round;
}
.road_4 {
    stroke: rgb(255, 255, 255);
    fill: rgba(0, 0, 0, 0);
    stroke-linecap: round;
}
.road_9 {
    stroke: rgb(255, 185,  50);
    fill: rgba(0, 0, 0, 0);
    stroke-linecap: round;
}

.road_satellite {
    stroke-opacity: 0.2;
}

.road_text_satellite {
    paint-order: stroke;
    stroke: #000000;
    fill: white;
    stroke-width: 2px;
    stroke-linecap: butt;
    stroke-linejoin: miter;
    font-weight: 800;
}